h2 {
    text-align: center;
}

.dashboard-container {
    padding: 16px;
}

.widget-container {
    display: flex;
    max-width: 475px;
    flex-direction: column;

    .widget-header {
        background-color: #3f51b5;
        flex-direction: row;
        min-height: 50px;
        max-height: 70px;
        position:relative;
    
        label {
            display: inline-block;
            color: #ffffff;
            padding: 0px 10px 0px 10px;
            text-shadow: 2px 1px rgba(0, 0, 0, .5);
        }
        .header-text {
            font-size: 20px;
            padding: 10px;
        }
    }

    .card-body {
        padding: 15px 0px 5px 0px;

        .card-text {
            flex-direction: row;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
                
            .notif-number {
                font-size: 34px;
                padding-left: 10px;
            }
            .notif-text { 
                font-size: 16px;
                text-align: center;
                color: #474544;
            }
        }
        .card-button {
            display: inline-block;
            position: absolute;
            margin-left: 50px;
            button {
                padding: 0px 25px 0px 25px;
            }
        }
    }
}