<div>
  <mat-toolbar color="primary" class="core-toolbar">

    <div class="header-container">
      <div class="toggle-sidenav-container">
        <button mat-icon-button (click)="snav.toggle()"  aria-label="Toggle Navigation Menu">
          <mat-icon>notes</mat-icon>
        </button>
      </div>
    </div>

    <span class="toolbar-spacer"></span>
    <h1>Accela App</h1>

  </mat-toolbar>

  <mat-divider></mat-divider>

  <mat-sidenav-container
    #mainContainer
    id="main-content-sidenav-container"
    class="core-sidenav-container">
    <mat-sidenav 
      #snav
      mode= "side"
      role="navigation">      
      <mat-divider></mat-divider>      
      <mat-nav-list>
        <a mat-list-item *ngFor="let menuItem of sideMenuItems" [routerLink]="menuItem.routerLink"
          routerLinkActive="active">
          <mat-icon matListIcon>{{ menuItem.icon }}</mat-icon>
          <span class="label-margin">{{ menuItem.label }}</span>
        </a>
      </mat-nav-list>        
    </mat-sidenav>
    <mat-sidenav-content class="core-sidenav-content" #sideNavContent>
        <div class="main-content-router-container">
          <router-outlet></router-outlet>
        </div>  
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>